.login{
    width: 450px;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    border: rgba(255, 255, 255, 0.15);
    padding: 45px;
    border-radius: 10px;
}
.login h1{
    text-align: center;
    font-size: 30px;
    color: white;
}
.login .input-fd{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px auto;
}
.input-fd input{
    width: 100%;
    height: 100%;
    background-color: transparent;
    outline: none;
    border: 2px solid rgba(43, 37, 37, 0.15);
    border-radius: 40px;
    color: white;
    padding: 20px 45px;
    
}
.input-fd .icon{
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    color: white;
}
.login .lembrar{
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    margin: -15px 0 15px;
    text-shadow: none;
}
.lembrar label{
    color: white;
}
.lembrar input{
    margin-right: 5px;
}
.lembrar a,
.register1 a{
    color: white;
    text-decoration: none;
}
.lembrar a:hover,
.register a:hover{
    text-decoration: underline;
    color:rgb(61, 61, 243)
}
.login button{
    width: 100%;
    height: 50px;
    border-radius: 40px;
    border: none;
    outline: none;
    box-shadow: 0 0 10px rgb(59, 59, 59);
    cursor: pointer;
    font-weight: 600;
    text-shadow: none;
}
.login .register1{
    font-size: 15px;
    text-align: center;
    margin: 20px 0 10px;
}
.login .register1 a{
    text-shadow: none;
    text-decoration: none;
}